.App {
  text-align: center;
}

ul.taskList {
	padding: 0 25px;
}

.main {
  color: rgb(20, 15, 15);
  font-size: large;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  padding: 0 25px;
}

.listWrapper {
	position: absolute;
	/* bottom: 50px;
	top: 160px; */
	right: 0;
	left: 0;
	overflow: auto;
}

li.task:hover .deleteTaskButton {
	visibility: visible;
  opacity: 1;
  color: red;
  cursor: pointer;
}

.deleteTaskButton {
  float: inline-start;
  color: blue;
  background-color: white;
  border: 10px solid white;
  visibility: hidden;
}

li.task {
	list-style-type: none;
	font-family: Tahoma;
  font-size: medium;
	padding: 5px 0;
	/* border-bottom: .5px solid #ccc; */
}